a, a:hover, a:visited, a:focus{
    text-decoration: none;
    color: #468cc8;
}

body {
    background-color: #d0e4fe;
    text-align: center;
    margin: 0px;
}

h1 {
    color: orange;
    margin-bottom: 0;
}

h2{
    margin-top: 0;
    font-size: .75em;
    color: grey;
}

h3{
    padding-top: 25px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

button.hidden {
    display: none;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

.stack-low, .stack-med, .stack-high{
    display: inline-block;
    padding: 10px;
}

/*.stack-high img{
    border: 10px solid red;
}

.stack-med img{
    border: 10px solid orange;
}

.stack-low img{
    border: 10px solid yellow;
}*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.high{
    background: red;
}

.medium{
    background: orange;
}

.low{
    background: yellow;
}